<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android_cinema_management" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:label="Universal"
        android:roundIcon="@drawable/app_icon"
        android:supportsRtl="true"
        android:theme="@style/SplashScreenTheme" >
        <activity
            android:name=".CinemaManagement.Update_and_DeleteCinema"
            android:exported="false" />
        <activity
            android:name=".UserManagement.VoucherActivity"
            android:exported="false" />
        <activity
            android:name=".UserManagement.TransactionActivity"
            android:exported="false" />
        <activity
            android:name=".UserManagement.BuyTicketActivity"
            android:exported="false" />
        <activity
            android:name=".UserManagement.AdminManagment.AddDiscount"
            android:exported="false" />
        <activity
            android:name=".UserManagement.AdminManagment.ComboActivity"
            android:exported="false" />
        <activity
            android:name=".UserManagement.AdminManagment.FeedbackActivity"
            android:exported="false" />
        <activity
            android:name=".UserManagement.AdminManagment.CinemaActivity"
            android:exported="false" />
        <activity
            android:name=".UserManagement.AdminManagment.DiscountActivity"
            android:exported="false" />
        <activity
            android:name=".ReadFeedback"
            android:exported="false" />
        <activity
            android:name=".UserManagement.AdminActivity"
            android:exported="false" />
        <activity
            android:name=".UserManagement.UserFeedBackActivity"
            android:exported="false" />
        <activity
            android:name=".UserManagement.UserReview"
            android:exported="false" />
        <activity
            android:name=".UserManagement.UserProfile"
            android:exported="false" />
        <activity
            android:name=".TicketAndDiscountManagement.DiscountDetails"
            android:exported="false" />
        <activity
            android:name=".CinemaManagement.CinemaLocation"
            android:exported="false" />
        <activity
            android:name=".AccountManagement.SignUp"
            android:exported="false"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".MovieManagement.MovieInfoTabLayout"
            android:exported="false" />
        <activity
            android:name=".Footer.Contact"
            android:exported="false" />
        <activity
            android:name=".Footer.AboutUs"
            android:exported="false" />
        <activity
            android:name=".Footer.CopyRight"
            android:exported="false" />
        <activity
            android:name=".Footer.Job"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".MainActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
    </application>

</manifest>